.App {
  text-align: center;
  background-size: auto;
  color: black;
  margin-bottom: 0px;
}

body {
  background-image: url("./color3.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.todo-list-header {
  text-align: center;
}

.modal-button {
  text-align: center;
}

.navbar {
  background-color: #031424;
}

.add-button {
  text-align: center;
}

.event-details {
  text-align: center;
  float: left;
}

.event-input {
  float: right;
  padding-right: 40px;
}

.ui.card,
.ui.cards>.card {
  background-color: rgb(230, 231, 237);
  height: 325px;
  width: 300px;
  box-shadow: 10px 10px 5px grey;
}

.ui.inverted.single.line.table {
  background-color: rgb(230, 231, 237);
  color: black;
  width: 80%;
  margin-left: 70px;
  box-shadow: 10px 10px 5px grey;
}

h3 {
  color: black;
}

.button-options-1, .button-options-2, .button-options-3 {
  display: inline-block;
}

.ui.container {
  padding-top: 50px;
}

.ui.stackable.two.column.grid.events-grid {
  padding-top: 70px;
}

.ui.stackable.three.column.grid.weather-grid {
  padding-top: 70px;
}

.below-nav {
  padding-top: 100px;
}

.ui.segment, .loader {
  padding-top: 150px;
}

.event-search-input {
  padding-top: 30px;
}

.event-search-button {
  padding-top: 30px;
}

.weather-set-button {
  padding-top: 10px;
}

.login-div {
  text-align: center;
}

.login-form-div {
  padding-top: 250px;
}

.pagination-events {
  padding-top: 40px;
  margin-bottom: 40px;
}

.trivia-input {
  margin-right: 25px;
}

.trivia-labels {
  text-align: right;
}

.trivia-div {
  padding-top: 10px
}

.trivia-submit {
  padding-top: 25px;
}

.home-header {
  background-image: url("./life2.jpeg");
  background-size: cover;
  background-position: 10% 32%;

}

.ui.inverted.vertical.segment {
  margin-top: 125px;
}

.ui.inverted.fixed.menu {
  background-color: rgb(44, 71, 73);
}

.ui.inverted.vertical.segment {
  background-color: rgb(44, 71, 73);
}

.ui.inverted.header {
  padding-bottom: 60px;
  color: rgb(44, 71, 73);
}
