.App {
  text-align: center;
  background-color: white;
}

.todo-list-header {
  text-align: center;
}

.modal-button {
  text-align: center;
}

.navbar {
  background-color: #031424;
}

.add-button {
  text-align: center;
}

.event-details {
  text-align: center;
  float: left;
}

.event-input {
  float: right;
  padding-right: 40px;
}
