.App {
  text-align: center;
  background-size: auto;
  color: white;
  margin-bottom: 0px;
}

body {
  background-color: #4717F6;
}

.todo-list-header {
  text-align: center;
}

.modal-button {
  text-align: center;
}

.navbar {
  background-color: #031424;
}

.add-button {
  text-align: center;
}

.event-details {
  text-align: center;
  float: left;
}

.event-input {
  float: right;
  padding-right: 40px;
}

.ui.card,
.ui.cards>.card {
  background-color: #E9E9E9;
}

.ui.inverted.padded.table {
  background-color: #E9E9E9;
  color: black;
}

h3 {
  color: black;
}

.button-options-1, .button-options-2, .button-options-3 {
  display: inline-block;
}

.ui.container {
  padding-top: 50px;
}

.ui.stackable.two.column.grid.events-grid {
  padding-top: 70px;
}

.ui.stackable.three.column.grid.weather-grid {
  padding-top: 70px;
}

.below-nav {
  padding-top: 100px;
}

.ui.segment, .loader {
  padding-top: 150px;
}

.event-search-input {
  padding-top: 30px;
}

.event-search-button {
  padding-top: 30px;
}

.weather-set-button {
  padding-top: 10px;
}

.login-div {
  text-align: center;
}

.login-form-div {
  padding-top: 250px;
}

.pagination-events {
  padding-top: 40px;
  margin-bottom: 40px;
}

.ui.container.main {
  padding-bottom: 50px;
}

.trivia-labels {
  margin-left: 40px;
}

.trivia-div {
  text-align: center;
}
